<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mercado liebre</title>
        <link rel="stylesheet" href="/css/mercado_v3.css">
        <link rel="stylesheet" href="/CSS/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/96ca162af0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="main_header">

                <div class=dividir>

                    <div class="logo"><img src="/images/logo.svg" width="100%" class="logo mercado liebre"></div>               
                    <nav class="top_bar">          
                        <div class="search_bar"><p>Lugar para poner la barra de busqueda<i class="fas fa-search"></i></p> </div>
                    </nav>
                    <div class="top_bar_texto">  
                        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                    </div>
                </div>

                <div class="site">
                    <nav class="nav_bar">
                        <ul>
                            <li><a href='#'>Ofertas</a></li>
                            <li><a href='#'>Tiendas oficiales</a></li>
                            <li><a href='#'>Vender</a></li>
                            <li><a href='#'>Ayuda</a></li>
                        </ul>
                    </nav>  
    
                    <nav class="login_bar">
                        <ul>
                            <li><a href='/register'>Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                            <li><a href='/login'>Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                            <li><a href='#'>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                        </ul>
                    </nav>
    
                </div>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                
            </div>

        </header>

        <main>

            <div class="main_main">

                <div class="banner"><img width=100% src="/images/homebanner.jpg" alt="banner"></div>
                
                <section class="last_views">

                    <!---------------------------ULTIMA VISTA--------------------------------->
                    
                    <h2 class="subtitulo">Sección: Basado en tu última visita</h2>
                    
                    <div class="separador">
                
                        <article class="productos">    
                            <div class="imagen_articulo"><img width=100% src="/images/cafetera.jpg" alt="cafetera"></div>
                            
                            <div class="caja">
                            
                                    <div><i class="fas fa-truck"></i></div>
                                    <div class="texto_junto">
                                        <p class="precios">$6.770</p>
                                        <p class="descuentos">40% off</p>
                                    </div>
                                    <h3 class="descripciones">Cafetera Moulinex</h3>
                                
                            </div>
                            
                        </article>
    
                        <article class="productos">
                            <div class="imagen_articulo"><img width=100% src="/images/mac.jpg" alt="mac"></div>
                            
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$230.000</p>
                                        <p class="descuentos">20% off</p>
                                    </div>
                                    <h3 class="descripciones">MacBook Pro 2019</h3>
                                </lu>
                            </div>
    
                        </article>
                        
                        <article class="productos">
                            <div><img width =100% src="/images/galaxi.jpg" alt="celular"></div>
                            
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$70.500</p>
                                        <p class="descuentos">10% off</p>
                                    </div>
                                    <h3 class="descripciones">Samsung Galaxy S10</h3>
                                </lu>
                            </div>
    
                        </article>
    
                        <article class="productos">
                            <div> <img width =100% src="/images/tv.jpg" alt="tv"></div>
    
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$23.200</p>
                                        <p class="descuentos">5% off</p>
                                    </div>
                                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                                </lu>
                            </div>
    
                        </article>

                    </div>

                </section>

                <!---------------------------OFERTAS-SALE--------------------------------->
                
                <section class="sale">

                    <h2 class="subtitulo">Sección de ofertas</h2>

                    <div class="separador">
                
                        <article class="productos">    
                            <div class="imagen_articulo"><img width=100% src="/images/cafetera.jpg" alt="cafetera"></div>
                            
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$6.770</p>
                                        <p class="descuentos">40% off</p>
                                    </div>
                                    <h3 class="descripciones">Cafetera Moulinex</h3>
                                </lu>
                            </div>
                            
                        </article>
    
                        <article class="productos">
                            <div class="imagen_articulo"><img width=100% src="/images/mac.jpg" alt="mac"></div>
                            
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$230.000</p>
                                        <p class="descuentos">20% off</p>
                                    </div>
                                    <h3 class="descripciones">MacBook Pro 2019</h3>
                                </lu>
                            </div>
    
                        </article>
                        
                        <article class="productos">
                            <div><img width =100% src="/images/galaxi.jpg" alt="celular"></div>
                            
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$70.500</p>
                                        <p class="descuentos">10% off</p>
                                    </div>
                                    <h3 class="descripciones">Samsung Galaxy S10</h3>
                                </lu>
                            </div>
    
                        </article>
    
                        <article class="productos">
                            <div> <img width =100% src="/images/tv.jpg" alt="tv"></div>
    
                            <div class="caja">
                                <lu>
                                    <i class="fas fa-truck"></i>
                                    <div class="texto_junto">
                                        <p class="precios">$23.200</p>
                                        <p class="descuentos">5% off</p>
                                    </div>
                                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                                </lu>
                            </div>
    
                        </article>
                        
                    </div>

                </section>

            </div>

        </main>

        <footer>

            <div class="main_footer">

                <div class="columna">
                    <section>
                        <i class="fas fa-credit-card"></i>
                        <div><h3 class="subtitulo">Pagá con tarjeta o en efectivo</h3></div> <!--Etiqueta class subtitulo -->
                        <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p> <!--Etiqueta class descripcion -->
                    </section>
            
                    <section>
                        <i class="fas fa-gift"></i>
                        <div><h3 class="subtitulo">Envío gratis desde $ 2.500</h3></div> <!--Etiqueta classsubtitulo -->
                        <div><p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p></div> <!--Etiqueta class descripcion -->
                    </section>
            
                    <section>
                        <i class="fas fa-user-shield"></i>
                        <div><h3 class="subtitulo">Seguridad, de principio a fin</h3></div> <!--Etiqueta classsubtitulo -->
                        <div><p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></div> <!--Etiqueta class descripcion -->
                    </section>
                </div>
        
                <section>
                    <div><p class="descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div> <!--Etiqueta class descripcion -->
                </section>

            </div>

        </footer>

    </body>

</html>