html{
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    
}
.texto{
    font-size: 12px;

}
.subtitulo{
    font-size:24px;
}
.precios{
    font-size:18px;
}
.descuentos{
    font-size:16px;
}
.descripcion{
    font-size:16px;
}
#allado{
    display:inline-block;
}
footer{
    background-color: #ebebeb;
    text-align:center;
    line-height: 50px;
}
.icono{
    font-size:2em;
    line-height: 50px;
    color:#1259c3;
}
.icono .subtitulo{
    line-height: 50px;
    font-size:2em;
}
.burger-menu{
    text-align: center;
    
}

