body{
    background:aqua;
   
    font-family:'New Tegomin';
}
h1{
    font-family:serif;
    font-size: 50px;
}
p{
    font-size:17px;
    line-height:24px;
}
/* selector de clase*/
.parrafo-destacado{
    color:salmon;
    font-size: 30px;
    line-height:38px;
}

strong{
    color:red;
}

/* selector descendente: comienza con strong  y lo busca en p*/
p strong{
    background-color: orange;
    color:white;
    font-style: italic;
}