*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:rgb(224, 224, 224);
}

header {
background-color: #EAC926;
}


.barraBusqueda {
    width: 90%;
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    border: solid 0.5px;
}

.searchBar {
    margin: 0.7%;
}

i.fas.fa-search::before{
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    border: solid 0.5px;
}

.burger-menu{
    width: 30px;
    border-radius: 4px;
    margin: auto;
    padding: 5px;
    background-color: blue;
    text-align: center;
    color: white;
}

main {
    margin: auto;
    width: 90%;
    
}

.ultimasVisitas {
    font-size: 24px;
}


.ofertas {
    font-size: 24px;
    color: rgb(78, 78, 78);
}


.Producto {
    width: 100%;
    margin-top: 10px;
}

i.fas.fa-truck::before{
color: rgba(17, 167, 25, 0.74)
}

.precios {
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.descuento {
    font-size: 16px;
    color: green;
    margin-top: 1%;
}

.descripcionArticulo {
    border: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

.nombreArticulo {
    font-size: 16px;
}



.finPag {
    text-align: center;
}

.derechos {
    text-align: initial;
    font-weight: lighter;
    font-size: small;
    opacity: 0.6 ;
}

.tituloFooter {
    font-weight: bold;
}

.banner {
    width: 100vw;
}

/*---------------------------------VERSION MOBILE*------------------------------------*/
@media (max-width:361px){
    .descripcionArticulo{
        display: none;
    }

    .navBar {
        display: none;
    }
    
    .loginBar{
        display: none;
    }

}


/*-------------------------------DESKTOP Y TABLETS---------------------------*/
@media (min-width:769px){

.descripcionArticulo {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.Producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.burger-menu{
    display: none;
}

}